<p *ngIf="!flats">
    <em>Loading...</em>
</p>

<p>
    Квартиры должны быть сгруппированы по районам Санкт-Петербурга и ЛО, а группы отсортированы по имени района. Формат вывода
    название группы: [Название района] ([Название региона]) Должна быть возможность постраничного просмотра с выбором количества
    отображаемых на странице объектов. Должна быть возможность сортировки по всем колонкам (см. п.2.1.1). Должна быть возможность
    фильтрации квартир по следующим параметрам: Площадь общая (от - до) Площадь кухни (от - до) Стоимость (от - до) В каждой
    строке присутствуют кнопки: Просмотр объекта. По клику во всплывающем окне отображаем карточку объекта со всеми его характеристиками.
    Редактирование объекта на карточке недоступно. Просмотр так же доступен по двойному клику. Редактирование объекта. По
    клику переходим на страницу объекта (см. 2.2). Удаление объекта. По клику удаляем объект из системы.
</p>

<div class="flats-summary-wrapper">
    <div class="flats-filters">
        <div class="flats-filters__filter">
            <label>Общая площадь:</label>
            <label> от:
                <input type="number" class="flats-filters__input" />
            </label>
            <label> до:
                <input type="number" class="flats-filters__input" />
            </label>
        </div>
        <div class="flats-filters__filter">
            <label>Площадь кухни</label>
            <label> от:
                <input type="number" class="flats-filters__input" />
            </label>
            <label> до:
                <input type="number" class="flats-filters__input" />
            </label>

        </div>
        <div class="flats-filters__filter">
            <label>Стоимость:</label>
            <label> от:
                <input type="number" class="flats-filters__input" />
            </label>
            <label> до:
                <input type="number" class="flats-filters__input" />
            </label>
        </div>
    </div>

    <div class="table-wrapper">
        <table class="flats-summary" *ngIf="flats">
            <tr>
                <th (click)="sortBy('id')">Номер</th>
                <th (click)="sortBy('residentialComplexName')">Название ЖК</th>
                <th (click)="sortBy('roomCount')">Количество комнат</th>
                <th (click)="sortBy('fullArea')">Площадь общая</th>
                <th (click)="sortBy('kitchenArea')">Площадь кухни</th>
                <th (click)="sortBy('floor')">Этаж</th>
                <th (click)="sortBy('cost')">Стоимость, тыс. руб</th>
                <th (click)="sortBy(id)">Действия</th>
            </tr>

            <tr *ngFor="let flat of pagedFlats">
                <td>{{flat.id}}</td>
                <td>{{flat.residentialComplexName}}</td>
                <td>{{flat.roomCount}}</td>
                <td>{{flat.fullArea}}</td>
                <td>{{flat.kitchenArea}}</td>
                <td>{{flat.floor}}</td>
                <td>{{flat.cost}}</td>
                <td>
                    <div class="flats-summary__actions">
                        <a [routerLink]="[ {outlets: { modal: ['details', flat.id] } } ]" title="Посмотреть полную информацию">
                            <i class="far fa-eye"></i>
                        </a>
                        <a [routerLink]="['edit', flat.id]" title="Отредактировать">
                            <i class="far fa-edit"></i>
                        </a>

                        <!-- [routerLink]="[ {outlets: { modal: ['delete', flat.id] } } ]" -->
                        <a (click)="deleteFlat(flat)" title="Удалить">
                            <i class="far fa-trash-alt"></i>
                        </a>
                    </div>

                </td>
            </tr>

        </table>
    </div>
</div>


<ul *ngIf="pager && pager.pages && pager.pages.length" class="flats-pagination">
    <li [ngClass]="{disabled:pager.currentPage === 1}">
        <a class="flats-pagination__link" (click)="setPage(1)">&larr;&larr;</a>
    </li>
    <li [ngClass]="{disabled:pager.currentPage === 1}">
        <a class="flats-pagination__link" (click)="setPage(pager.currentPage - 1)">&larr;</a>
    </li>
    <li *ngFor="let page of pager.pages" [ngClass]="{active:pager.currentPage === page}">
        <a class="flats-pagination__link" (click)="setPage(page)">{{page}}</a>
    </li>
    <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
        <a class="flats-pagination__link" (click)="setPage(pager.currentPage + 1)">&rarr;</a>
    </li>
    <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
        <a class="flats-pagination__link" (click)="setPage(pager.totalPages)">&rarr;&rarr;</a>
    </li>
</ul>

<div class="count-per-page">
    <label>Количество квартир на странице:
        <input type="number" class="count-per-page__input" [(ngModel)]="flatsPerPage" (ngModelChange)="setPage(pager.currentPage)"
        />
    </label>
</div>