@import '../../../variables';

.flats-summary {
    width: 100%;
    border: 1px solid $border-color;
    overflow-x: scroll;

    td,
    th {
        border-bottom: 1px solid $border-color;
    }

    tr:last-child td {
        border-bottom: none;
    }

    &__actions {
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        .svg-inline--fa {
            color: $border-color;
            &:hover {
                cursor: pointer;
            }
        }
    }
}

.flats-pagination {
    display: flex;
    flex-direction: row;
    list-style: none;
    border-radius: 1px;
    padding: 0;

    &__link {
        border: 1px solid $border-color;
        color: #007bff;
        font-size: 1rem;
        padding: 0.6rem;

        &:hover {
            cursor: pointer;
        }
    }
}

.count-per-page {
    &__input {
        width: 3rem;
        border: 1px solid $border-color;
    }
}
