@import '../../../variables';

.flats-summary-wrapper {
    display: flex;
    flex-direction: column;

    @media screen and(min-width:$content-width) {
        flex-direction: row;
    }
}

.flats-filters {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 10px;

    @media screen and(min-width:$content-width) {
        justify-content: space-between;
        flex-direction: column;
        margin: 0;
        border: 1px solid $border-color;
    }

    &__filter {
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    &__input {
        width: 3rem;
        border: 1px solid $border-color;
    }
}

.flats-summary {
    border-collapse: collapse;
    border-spacing: 0;
    border: 1px solid $border-color;
    width: 100%;

    td,
    th {
        padding: 4px;
        text-align: left;
    }

    tr:nth-child(even) {
        background-color: #f2f2f2;
    }

    &__actions {
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        .svg-inline--fa {
            color: #007bff;
            &:hover {
                cursor: pointer;
            }
        }
    }
}

.flats-pagination {
    display: flex;
    flex-direction: row;
    list-style: none;
    border-radius: 1px;
    padding: 0;

    &__link {
        border: 1px solid $border-color;
        color: #007bff;
        font-size: 1rem;
        padding: 0.6rem;

        &:hover {
            cursor: pointer;
        }
    }
}

.count-per-page {
    &__input {
        width: 3rem;
        border: 1px solid $border-color;
    }
}
