@import 'variables';

html {
    font-size: $font-size;
}
* {
    box-sizing: border-box;
}

.container {
    width: 100%;
    display: flex;
    padding: 0 10px;

    @media screen and (min-width: $content-width) {
        width: $content-width;
        margin: 0 auto 0;
    }
}

.disabled {
    cursor: not-allowed;
}
