<h1>Страницы объекта.</h1>
На странице отображаем форму для редактирования объекта. На форму выводим все характеристики (параметры) объекта Для редактирования
доступны следующие параметры:
<ul>
    <li>
        Площадь общая
    </li>
    <li>Площадь кухни</li>
    <li>Этаж</li>
    <li>Стоимость, тыс. руб.</li>
</ul>
На странице выводим две кнопки: Сохранить. По клику сохраняем изменения объекта, и возвращаемся на главную страницу. При
этом все внесенные в объект изменения отображаются в сетке квартир. Отмена. По клику изменения объекта не сохраняем, и возвращаемся
на главную страницу.